.headerTitle {
  display: "flex";
  flex-direction: "column";
  align-content: "center";
  justify-content: "center";
  margin-left: 20px;
  color: #000;
  text-shadow: 0 0 10px #ffffff;
}

.buttonControl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    margin-bottom: 20px;
  }
  div:nth-of-type(1) {
    button {
      margin-right: 10px;
    }
  }
}

.area {
  height: 100%;
  box-shadow: 0 0 8px 2px rgba(170, 170, 170, 0.3);

  :global {
    .ant-pro-checkcard {
      margin-block-end: 0px !important;
    }
  }

  :global(.ant-card-body) {
    > div {
      margin-bottom: 2vh !important;
    }
    // > div:last-child{
    //   margin-bottom: 0px !important;
    // }
  }

  .productPitch {
    :global(.ant-card-body) {
      > div {
        margin-bottom: 0px !important;
      }
    }
    // github按钮样式
    :global(.ant-row) {
      > div:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
      }
    }
    // background-attachment: fixed;
    margin-bottom: 30px;
    background-image: url("./assets/product_bj.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 10px #aaaaaa;
  }

  // 列表选中区样式
  .excelContent {
    width: 100%;
    margin: 10px 0;
    // height: 42vh;
    // overflow-y: auto;
    :global {
      .ant-card-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  :global {
    .ant-pro-checkcard-group {
      width: 100%;
    }
  }

  //抽选区域样式
  .randContent {
    // overflow-y: auto;
    display: flex;
    width: 100%;
    height: 54vh;
    :global {
      .ant-card-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vh;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }
    }
  }

  .extractNum {
    // width: 100%;
    > div {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

// .ruleList{
//     :global(.ant-row) {
//       // > :global(.ant-col){
//       //   >span{
//       //     width: 100%;
//       //   }
//       // }
//       > :global(.ant-col):nth-of-type(1),
//       > :global(.ant-col):nth-of-type(3) {
//         display: flex !important;
//         justify-content: center !important;
//         font-size: 20px;
//         color: #5e5e5e;
//       }
//       :global(svg){
//         cursor: pointer;
//       }
//     }
//   }

.lowChance {
  background: #90d89085 !important;
  border: 1px solid rgba(52, 146, 88, 0.63) !important;
}

:global(.ant-pro-checkcard.ant-pro-checkcard-checked) {
  background: #9acbf385 !important;
  border-color: rgba(52, 104, 146, 0.63) !important;
}
